
<!-- Navbar & Hero Start -->
<div class="container-xxl position-relative p-0">
  <nav class="navbar navbar-expand-lg navbar-light px-4 px-lg-5 py-3 py-lg-0">
    <a href="/" class="navbar-brand p-0">
      <h1 class="m-0">BizConsult</h1>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
      <span class="fa fa-bars"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <div class="navbar-nav ms-auto py-0">
        <%= link_to "Home", root_path,class: "nav-item nav-link active"%>
        <%= link_to "DashBoard", dashboard_index_path ,class: "nav-item nav-link"%>
        <%= link_to "Depósitos", deposit_accounts_path ,class: "nav-item nav-link"%>
        <% if user_signed_in? %>
          <div class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Opções</a>
            <div class="dropdown-menu m-0">
              <%= link_to "Editar Perfil", edit_user_registration_path ,class: "dropdown-item"%>
              <%# <a href="feature.html" class="dropdown-item">Editar Perfil</a> %>
              <%= button_to("Sair",destroy_user_session_path,class:"dropdown-item",method: :delete) %> 
              <%# <a href="quote.html" class="dropdown-item">Sair</a> %>
              <%# <%= button_to(
        "Log Out",
        destroy_user_session_path,
        method: :delete
) %> 
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </nav>
</div>
<!-- Navbar & Hero End -->