<%= form_tag @account, method: :get do %>
  <div id="root">
    <div class="App background">
      <div id="db-wrapper">
        <div class="d-flex flex-column container">
          <div class="align-items-center justify-content-center g-0 min-vh-100 row">
            <div class="py-8 py-xl-0 col-lg-5 col-md-5">
              <div class="card">
                <div class="p-6 card-body">
                  <form class="">
                    <div class="row">
                      <div class="mb-3 col-lg-12 col-md-12">
                        <%= label_tag 'Data Inicial', nil, class: 'form-label' %>
                        <%= date_field_tag 'start_date', params[:start_date], placeholder: "Enter Start Date",class: "form-control-input"%>
                      </div>
                      <div class="mb-3 col-lg-12 col-md-12">
                        <%= label_tag 'Data Final', nil, class: 'form-label' %>
                        <%= date_field_tag 'end_date', params[:end_date], placeholder: "Enter End Date",class: "form-control-input"%>
                      </div>
                      
                      <div class="mb-0 d-grid gap-2 col-lg-12 col-md-12">
                        <%= submit_tag("Realizar Operação", class: "btn btn-primary") %>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
